html {
    font-family: fantasy;
    background-color: lightgreen;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}
p {
    font-family: Monospace, sans-serif;
    font-size: 12px;
}

nav {
    width: 90%;
    background-color: white;
    position: fixed;
    z-index: 1;
    right: 60px;
}

nav div {
    display: inline-block;
    width: 33%;
    text-align: center;
    font-size: xx-large;
    background-color: white;
    margin: 0 auto;
    padding: 0;
}

nav a:hover,
footer a:hover {
    color: lightgreen;
    cursor: pointer;
}

img {
    margin: 10px;
}

h1 {
    font-size: 60px;
    position: relative;
    padding-bottom: 20px;
    margin: -20px;
    z-index: -1;
}

.projects-wrapper {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    background-color: white;
    margin: 0 auto;
}

.project-description {
    display: block;
    margin: 0 auto;
    padding: 0;
    font-size: xx-large;
    top: -32.5px;
}

#web-dev {
    font-size: 20px;
    font-family: Verdana, sans-serif;
}

#welcome-section {
    height: 50vw;
    width: 100%;
    margin: 0 auto;
    padding: 350px 0 0 0;
    text-align: center;
}

#projects,
footer,
#videos {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    font-size: 60px;
}

footer {
    background-color: white;
    width: 100%;
}

.caption {
    width: 80%;
    padding: 0 0 20px 0;
    margin: 0 auto;
    font-size: xx-large;
    font-family: sans-serif;
}

a {
    width: 50%;
    margin: 0 auto;
    padding: 0;
    color: black;
    z-index: 1;
}

video {
    width: 100%;
    display: block;
    margin: 40px auto;
    border: 10px solid;
    border-collapse: separate;
}

#profile-link {
    width: 100%;
}

#arrow {
    display: block;
    width: 25%;
    margin: 0 auto;
    padding: 0 0 250px 0px;
    -webkit-animation: MoveUpDown 1s linear infinite;
    z-index: -1;
}

@keyframes MoveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-100px);
    }
}

@media screen and (min-width: 750px) and (max-width: 1099px) {

    nav {
        width: 100%;
        background-color: white;
        position: fixed;
        z-index: 1;
        right: 0;
    }

    nav div {
        width: 30%;
        padding: 5px 0;
        margin: 0 auto;
    }

    #arrow {
        display: block;
        width: 25%;
        margin: 0 auto;
        padding: 500px 0px;
        -webkit-animation: MoveUpDown 1s linear infinite;
        z-index: -1;
    }

    h1,
    footer {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .caption {
        width: 100%;
        font-size: x-large;
        font-family: sans-serif;
    }

    video {
        width: 90%;
        display: block;
        margin: 40px auto;
        border: solid black 10px;
    }

    .projects-wrapper {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        background-color: white;
        border: none;
        margin: 0 auto;
    }
}

@media screen and (max-width: 749px) {

    nav {
        width: 100%;
        background-color: white;
        position: fixed;
        z-index: 1;
        right: 0;
    }

    nav div {
        width: 100%;
        padding: 5px 0;
        margin: 0 auto;
    }

    #arrow {
        display: block;
        width: 25%;
        margin: 0 auto;
        padding: 500px 0px;
        -webkit-animation: MoveUpDown 1s linear infinite;
        z-index: -1;
    }

    h1,
    footer {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        border: none;
    }

    .caption {
        width: 100%;
        font-size: x-large;
        font-family: sans-serif;
    }

    video {
        width: 90%;
        margin: 0 auto;
    }

    .projects-wrapper {
        display: block;
        width: 100%;
        border: none;
    }
}
