html {
    font-family: Verdana, sans-serif;
    background-color: black;
    color: #FF0000;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    font-size: 50px;
    position: relative;
    padding: 10px;
    margin: 0 auto;
    font-weight: bolder;
    background-color: white;
    box-shadow: 10px 10px red;
    width: fit-content;
}

h2 {
    font-weight: bolder;
    font-size: xxx-large;
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 10px 10px red;
    width: fit-content;
    margin: 80px auto 0 auto;
    padding: 10px;
    animation: colorCycle 2.0s infinite; /* Color cycle for Showcase Text*/
}
h3 {
    font-size: xx-large;
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 10px 10px red;
    width: fit-content;
    margin: 80px auto 0 auto;
    padding: 10px;
}

p {
    font-size: large;
    text-align: left;
    padding: 10px;
    width: 50%;
    margin: 20px auto;
    color: black;
    background-color: white;
}

.project, .intro, #video{
    font-weight: bolder;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 10px 10px red;
    width: fit-content;
    margin: 80px auto 0 auto;
    padding: 10px;
}
.project { 
    margin-top: 100px;
}
#you_tube_video {
    margin-bottom: 100px;
}

nav {
    width: 90%;
    background-color: white;
    position: fixed;
    z-index: 1;
    right: 0; 
    left: 0; 
    margin: auto;
    text-align: center;
}

nav div {
    display: inline-block;
    font-weight: bold;
    width: 30%;
    text-align: center;
    font-size: x-large;
    background-color: white;
    padding: 0;
}

nav a:hover,
footer a:hover {
    color: red;
    cursor: pointer;
}

img {
    margin: 10px;
}

#repo_icon {
    width: 15%;
}

#web-dev {
    font-size: 20px;
    font-family: Verdana, sans-serif;
    color: white;
}
#welcome, #name {
    transition: transform 0.3s ease, color 0.3s ease;
}

.project, .intro, #video, .card {
    transition: transform 0.3s ease, color 0.3s ease;
}

#welcome:hover, .project:hover, .intro:hover, #video:hover, #name:hover, .card:hover{
    font-weight: bolder;
    transform: scale(1.1);
    color: #000000;
  }

#welcome-section {
    height: 50vw;
    width: 100%;
    margin: 0 auto;
    padding: 350px 0 0 0;
    text-align: center;
}

#projects, #professional_self_assessment,
footer, #videos {
    display: block;
    width: 100%;
    padding: 10px 10px;
    text-align: center;
    font-size: 40px;
}

#repo {
    text-align: center;
    width: fit-content;
}
#video {
    margin-bottom: 20px;
}
footer {
    background-color: white;
}

.caption {
    width: 80%;
    padding: 0 0 20px 0;
    margin: 0 auto;
    font-size: xx-large;
    font-family: sans-serif;
}

a {
    width: 50%;
    margin: 0 auto;
    padding: 0;
    color: black;
    z-index: 1;
    font-weight: bold;
}

.link {
    width: 100%;
}

#music-toggle {
    width: fit-content;
    font-size: x-large;
    font-weight: bold;
    margin: 20px;
    color:black;
    background-color: white;
    border-color: red;
    border-width: 10px;
}

#music-toggle:hover{
    color: red;
}

#arrow {
    display: block;
    width: 25%;
    margin: 0 auto;
    padding: 0 0 400px 0px;
    -webkit-animation: MoveUpDown 1.0s infinite;
    z-index: -2;
}

#spark-container {
    position: absolute;
    pointer-events: none; /* Prevent sparks from interfering with other elements */
    z-index: -1; /* Make sure it's on bottom */
}

.spark-wrapper {
    position: absolute;
    pointer-events: none;
}

.spark {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: white;
    animation: explode 3.0s forwards ease-out;
    pointer-events: none; /* Prevent sparks from interfering with other elements */
}

@keyframes colorCycle {
    0% {
    color: white;
  }
  25% {
    color: black;
  }
  50% {
    color: red;
  }
  75% {
    color: black
  }
  100% {
    color: white;
  }
}

@keyframes explode {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(var(--dx), var(--dy));
        background: orange;
        opacity: 0;
    }
}

@keyframes MoveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-150px);
    }
}

@media screen and (min-width: 750px) and (max-width: 1099px) {

    nav {
        width: 100%;
        background-color: white;
        position: fixed;
        z-index: 1;
        right: 0;
    }

    nav div {
        width: 30%;
        padding: 5px 0;
        margin: 0 auto;
    }

    #arrow {
        display: block;
        width: 25%;
        margin: 0 auto;
        padding: 500px 0px;
        -webkit-animation: MoveUpDown 1s linear infinite;
        z-index: -1;
    }

    h1,
    footer {
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    .caption {
        width: 100%;
        font-size: x-large;
        font-family: sans-serif;
    }

    video {
        width: 90%;
        display: block;
        margin: 40px auto;
        border: solid black 10px;
    }

    .projects-wrapper {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        background-color: white;
        border: none;
        margin: 0 auto;
    }
}

@media screen and (max-width: 749px) {

    nav {
        width: 100%;
        background-color: white;
        position: fixed;
        z-index: 1;
        right: 0;
    }

    nav div {
        width: 100%;
        padding: 5px 0;
        margin: 0 auto;
    }

    #arrow {
        display: block;
        width: 25%;
        margin: 0 auto;
        padding: 500px 0px;
        -webkit-animation: MoveUpDown 1s linear infinite;
        z-index: -1;
    }

    h1,
    footer {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        border: none;
    }

    .caption {
        width: 100%;
        font-size: x-large;
        font-family: sans-serif;
    }

    video {
        width: 90%;
        margin: 0 auto;
    }

    .projects-wrapper {
        display: block;
        width: 100%;
        border: none;
    }
}
